<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <meta charset="utf-8">
            <% content_for :extend_menu do %>
            title:<%= @item.title %> - monolist
            description:<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。
            <% end %>
          
          <%# #TODO 商品イメージ %>
          <%#= image_tag("no-image.png" , alt: @item.title) %>
          
          <%# if response['imageFlag']=="0" then %>   
              <%#= image_tag("no-image.png" , alt: @item.large_image) %>
          <%# else response['imageFlag'] == "1" %>
              <%#= image_tag item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '') , alt: item['itemName'] %>
          <%# end %>
          
          <% if response['imageFlag']=="0" then %> 
              <%= image_tag("no-image.png" , alt: @item.title) %>
          <% else response['imageFlag'] == "1" %>
               <%= image_tag @item.large_image , alt: @item.title %>
          <% end %>   
        </div>
      </div>
      <div class="title">
        <%# #TODO 商品タイトル %>
        <%#= link_to item['itemName'],item['itemUrl'] %>
        <%#= link_to @item.title, @item['itemUrl'] %>
        <%#= link_to @item.title %>
        <%= @item.title %>
        <!--仮タイトル-->
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Haveしたユーザー一覧 %>
      <!--<a href="<%#= have_users(@user) %>">-->
          <div class="user_avatars">
            <% @item.have_users.each do |user| %>
              <%= link_to gravatar_for(user, size: 30), user %>
            <% end %>
            
          </div>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Wantしたユーザー一覧 %>
          <a href="<%#= current_user.want(@user) %>"></a>
          <%#= @item.want_users.inspect %>
            <% @item.want_users.each do |user| %>
              <%= link_to gravatar_for(user, size: 30), user %>
            <% end %>
        </div>
      </div>
      <div class="text-center">
        <%# #TODO 正しいリンク先に %>
        <%#= link_to('楽天詳細ページへ', RakutenWebService::Ichiba::Item.search(itemCode: @item.item_code)) %>
        <%= link_to '楽天詳細ページへ', @item.detail_page_url %>
      </div>
    </div>
  </div>
</div>
